<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <style>
    #app {
      color: #2c3e50;
      display: block;
      text-align: center;
      margin-top: 40vh;
      font-size: 20px;
      font-family: Arial, sans-serif;
    }
  </style>
  <% if (htmlWebpackPlugin.options.description) { %>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <% } %>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="app">Loading...</div>
  <script src="https://cdn.jsdelivr.net/npm/@babel/standalone@7.0.0-beta.42/babel.min.js"></script>
</body>
<% if (process.env.NODE_ENV === 'production') {%>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116670534-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-116670534-1');
  </script>

  <% } %>

</html>
